name: customized-win-shells

on: [push]

jobs:
  customized-win-shells:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: magtense-env
        auto-update-conda: true
        python-version: 3.12
        channels: conda-forge,nvidia/label/cuda-12.6.3

    - name: Install minimal packages
      shell: bash -el {0}
      run: |
        conda install cuda-nvcc make

    - name: Run x64 Native Tools Command Prompt for VS 2022
      shell: cmd /k "{0}" -arch=amd64 -host_arch=x64
      working-directory: ${{ github.workspace }}/source/MagTenseFortranCuda/cuda
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"
        ls -al
        LIB /VERBOSE
        nvcc --version
        make cuda
        ls -al
        make
        ls -al


    - name: Run Command Prompt
      shell: cmd
      working-directory: ${{ github.workspace }}/source/MagTenseFortranCuda/cuda
      run: |
        nvcc -c MagTenseCudaBlas.cu -ccbin "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Tools\MSVC\14.42.34433\bin\Hostx64\x64"
        make cuda
        ls -al
        make wrap

    # - name: Run Developer PowerShell for VS 2022
    #   shell: pwsh -NoExit -ExecutionPolicy ByPass -File {0}
    #   run: |
    #     cd "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\"
    #     .\Launch-VsDevShell.ps1
    #     cd ${{ github.workspace }}/python/src/magtense/lib/
    #     ls
    #     LIB /VERBOSE
