name: customized-win-shells

on: [push]

jobs:
  customized-win-shells:
    runs-on: windows-latest

    steps:
    - name: Run Developer PowerShell for VS 2022
      shell: pwsh -NoExit -ExecutionPolicy ByPass -File C:/Program Files/Microsoft Visual Studio/2022/Enterprise/Common7/Tools/Launch-VsDevShell.ps1
      working-directory: ${{ github.workspace }}/python/src/magtense/lib/
      run: ls

    - name: Run x64 Native Tools Command Prompt for VS 2022
      shell: cmd /k C:/Program Files/Microsoft Visual Studio/2022/Enterprise/Common7/Tools/VsDevCmd.bat -arch=amd64 -host_arch=x64
      working-directory: ${{ github.workspace }}/source/MagTenseFortranCuda/cuda
      run: ls -al