name: customized-win-shells

on: [push]

jobs:
  customized-win-shells:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run x64 Native Tools Command Prompt for VS 2022
      shell: cmd /k "{0}" -arch=amd64 -host_arch=x64
      working-directory: ${{ github.workspace }}/source/MagTenseFortranCuda/cuda
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"
        ls -al
        LIB /VERBOSE

    - name: Run Developer PowerShell for VS 2022
      shell: pwsh -NoExit -ExecutionPolicy ByPass -File {0}
      run: |
        cd "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\"
        .\Launch-VsDevShell.ps1
        cd ${{ github.workspace }}/python/src/magtense/lib/
        ls
        LIB /VERBOSE
