name: Building Matlab MEX files

on: [push]

jobs:
  build-win:
    runs-on: [self-hosted, Windows]
    steps:  
      - uses: actions/checkout@v4

      - name: Test shell
        shell: cmd /C CALL {0}
        working-directory: ${{ github.workspace }}
        run: conda info --envs
      
      - name: Start shell and run make
        shell: cmd /C CALL {0}
        working-directory: ${{ github.workspace }}
        run: >-
          make USE_CUDA=0 USE_CVODE=0 USE_MATLAB=1 CVODE_ROOT=/usr/local/sundials-4.1.0/instdir MATLAB_INCLUDE=/usr/local/MATLAB/R2021b/extern/include MKL_ROOT=/opt/intel/oneapi/mkl/latest
    
      - run: echo "Workflow done"
